/**
 * @author  Tyler Bailey - 2015
 * @project Pyxl Test
 */


/* Global */
html {
    -webkit-font-smoothing: antialiased;
}
body {
    background: #f2f2f2;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #686b72;
}
::-webkit-input-placeholder {
   color: #686b72;
}

:-moz-placeholder { /* Firefox 18- */
   color: #686b72;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #686b72;  
}

:-ms-input-placeholder {  
   color: #686b72;  
}


/* Helpers */
.text-center {
    text-align: center;
}


/* Typography */
h1 {
    font-family: nimbus-sans-condensed, sans-serif;
    font-size: 32px;
    line-height: 37px; 
    color: #000; 
    margin-bottom: 10px;
}
h2 {
    font-family: nimbus-sans-condensed, sans-serif;
    font-size: 24px;
    line-height: 27px; 
    color: #000; 
    margin-bottom: 10px;
}
h3 {
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
    margin: 6px 0;
}

/* Links */ 
a {
    color: #7f873f;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover {
    color: #4c5438;
    text-decoration: none;
}
a:focus,
a:active,
button:focus,
button:active {
    outline: none;
}


/* Banner */
.top-container {
    margin-bottom: 30px;
    overflow: auto;
    position: relative;
    z-index: 999;
}
#top-banner {
    background: url('../images/big-ears-festival-2016-header.jpg') no-repeat 0 0;
    background-size: cover;
    padding-top: 24px;
    height: 312px;
}
#top-banner .row {
    position: relative;
}

.logo {
    border-right: 1px solid #FFF;
    margin-bottom: 24px;
}


/* Carousel */
#image-carousel {
    margin-bottom: 7px;
    padding-top: 12px;
}
.slider-btn {
    text-indent: -9999px;
    width: 29px;
    height: 29px;
    padding: 0 !important;
    position: relative;
}
#slider-next {
    background: url('../images/slider-arrow-right-sprite.png') no-repeat center -29px;
}
#slider-next span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/slider-arrow-right-sprite.png') no-repeat center 0;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}
#slider-next:hover span {
    opacity: 1;
}
#slider-prev {
    background: url('../images/slider-arrow-left-sprite.png') no-repeat center -29px;
    margin-right: 3px;
}
#slider-prev span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/slider-arrow-left-sprite.png') no-repeat center 0;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;    
}
#slider-prev:hover span {
    opacity: 1;
}


/* Call to Action Buttons */
#top-banner .cta-row {
    background: url('../images/gradient-repeater.jpg') repeat-x;
    position: relative;
    left: 0;
    right: 0;
    height: auto;
    padding: 30px 0;
    -webkit-box-shadow: 0px -12px 20px 0px rgba(0,0,0,0.25); 
    -moz-box-shadow: 0px -12px 20px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px -12px 20px 0px rgba(0,0,0,0.25);
    text-align: center;
}
#top-banner .cta-bird {
    position: absolute;
    top: 0;
    z-index: 999;
}
#top-banner .cta-bird.left {
    left: 0;
}
#top-banner .cta-bird.right {
    right: 0;
}
#top-banner .cta-row .cta-link {
    text-indent: -9999px;
    height: 82px;
    width: 320px;
    display: inline-block;
    margin: 0 7px 0 7px;
    position: relative;
}
#top-banner .cta-row #presale-tickets {
    background: url('../images/buy-2016-pre-sale-tickets-sprite.png') no-repeat center -82px;
}
#top-banner .cta-row #presale-tickets span {
    background: url('../images/buy-2016-pre-sale-tickets-sprite.png') no-repeat center 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out; 
}
#top-banner .cta-row #presale-tickets:hover span {
    opacity: 1;
}
#top-banner .cta-row #last-year {
    background: url('../images/see-last-years-event-sprite.png') no-repeat center -82px;
}
#top-banner .cta-row #last-year span {
    background: url('../images/see-last-years-event-sprite.png') no-repeat center 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out; 
}
#top-banner .cta-row #last-year:hover span {
    opacity: 1;
}


/* Main Content (Feed & Video) */
#content ul.feed {
    margin: 20px 0;
    padding: 0;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #686b72;
}
#content ul.feed li {
    list-style-type: none;
    border-bottom: 1px solid #d3d3d3;
    padding: 15px 0;
}
#content ul.feed li:first-child {
    padding-top: 0;
}
#content ul.feed a {
    border-bottom: 1px solid transparent;
}
#content ul.feed a:hover {
    border-bottom: 1px solid #4c5438;
}

#content .video {
    margin-bottom: 50px;
}


/* Footer */
footer {
    background: url('../images/big-ears-splash-footer.jpg') no-repeat center center;
    background-size: cover;
    padding: 25px 0;
}
footer h1 {
    margin-bottom: 0;
}

/* Footer Subscribe Form */
footer form#subscribe input {
    margin-bottom: 0 !important;
}
footer form#subscribe input[type='text'] {
    background: #f2f2f2;
    border: 1px solid #FFF;
    padding: 10px 15px;
    box-shadow: none;
}
footer form#subscribe input[type='submit'] {
    padding: 0;
    background: #7f873f;
    border: 1px solid #FFF;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: nimbus-sans-condensed, sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}
footer form#subscribe input[type='submit']:hover {
    background: #4c5438;
}

/* Social Icons */
footer ul.social {
    margin: 0;
    padding: 0;
}
footer ul.social li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
}
footer ul.social li a {
    display: block;
    height: 36px;
    width: 36px;
    position: relative;
}
footer ul.social li a span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

/* Facebook */
footer ul.social li#facebook a {
    background: url('../images/big-ears-social-sprite.png') no-repeat 0 -36px;
}
footer ul.social li#facebook a span {
    background: url('../images/big-ears-social-sprite.png') no-repeat 0 0px;
}
footer ul.social li#facebook a:hover span {
    opacity: 1;
}

/* Twitter */
footer ul.social li#twitter a {
    background: url('../images/big-ears-social-sprite.png') no-repeat -36px -36px;
}
footer ul.social li#twitter a span {
    background: url('../images/big-ears-social-sprite.png') no-repeat -36px 0;
}
footer ul.social li#twitter a:hover span {
    opacity: 1;
}

/* Instagram */
footer ul.social li#instagram a {
    background: url('../images/big-ears-social-sprite.png') no-repeat -72px -36px;
}
footer ul.social li#instagram a span {
    background: url('../images/big-ears-social-sprite.png') no-repeat -72px 0;
}
footer ul.social li#instagram a:hover span {
    opacity: 1;
}


/* Mobile */
@media screen and (max-width: 890px) {
    /* Switch to CSS for mobile devices */
    #top-banner .cta-row {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
    }
    #top-banner .cta-row .cta-link {
        margin-bottom: 30px;
    }
    
    footer form#subscribe input[type='submit'] {
        padding: 0 10px;
        font-size: 15px;
    }
    
    footer ul.social li {
        margin: 0 5px 0 0;
    }
}

@media screen and (max-width: 689px) and (min-width: 641px) {
    footer form#subscribe input[type='submit'] {
        padding: 0 5px;
    }
    footer ul.social li {
        margin: 0;
    }
}

@media screen and (max-width: 640px) {
    .top-container {
        margin-bottom: 0;
    }
    .logo {
        margin-bottom: 0;
        border-right: 0;
        max-width: 400px;
        width: 100%;
    }
    .slick-slide img {
        max-width: 260px;
    }
    #top-banner .cta-row {
        background: transparent;
        box-shadow: none;
    }
    #top-banner .cta-bird {
        display: none;
    }
    #top-banner .cta-row #last-year {
        margin-bottom: 0;
    }
    #top-banner .cta-row .cta-link {
        max-width: 100%;
        background-size: 100% !important;
    }
    
    #content .video {
        margin: 15px 0 30px;
    }
    
    footer {
        text-align: center;
    }
    footer form#subscribe {
        margin: 30px 0 15px;
    }
}

/* Foundation Overrides
.row {
    max-width: 960px;
}
*/


/* Slick Carousel */
.slick-slider {
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
